.li.nav-item{
    line-height: 20px;
    font-weight: 300;
    font-size: 20px;
}
.card-header{
    background: #cce5ff;
    width: auto;
    border-block-width: thick;
}
.mainImage{
    max-height: 300px;
}

.container{
    min-height: 600px;
    padding-inline-start: initial;
    padding-inline-end: initial;
}
.etiquetteCourse{
    max-width: 200px;
}
a{
    text-decoration: none;
    color: black;
}
.inscrit{
    background: #3399ff;
}
.inscrit li{
    background: #cce5ff;
    margin: 5px;
}
/* Creer cours
#couleur.form-control{
    background: #cce5ff;
}
input[type="color"]{
    color: #cce5ff;
}*/
/* Footer */
#foot1{
    background: #cce5ff;
    padding-top: 2%;
}
h5 {
    line-height: 20px;
    font-weight: 300;
    text-align: center;
}
/*Affichage Article Mode Blog*/
h2,h3{
    text-align: center ;
}
h3{
    background-color: black;
    color: white;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.news.p{
    background-color: #cccccc;
    margin-top: 5px;
}
.news{
width: 70%;
margin: auto;
}
a{
    text-decoration: none;
    color: blue;
}
/*Affichage Form Commentaire*/
.ml-5, .mx-5 {
    margin-left: 16rem !important;
}